body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.link_logo {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding-top: 10px;
}

.bck_blue {
    background: #0d1831;
}

.bck_lblue {
    background: #98c5e9;
}

.img_cover {
    background-size: contain !important;
    text-align: center;
}
.container {
    width:1024px;
    margin: 0 auto;
}

input {
    background: #fafafa;
    border: 1px solid #e9e9e9;
    font-size: 17px;
    padding: 8px;
    border-radius: 3px;
    font-family: Roboto;
    font-weight: 300;
    width: 100%;
    box-sizing: border-box;
}

select {
    font-size: 16px;
    height: 38px;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    width: 100%;
}


button {
    background: #0d1831;
    color: #ffffff;
    border: 1px solid #0d1831;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 3px;
}

.error_label {
    color: #F44336;
    font-weight: 600;
    margin: 10px 0px;
}

.success_label {
    color: #98c5e9;
    font-weight: 600;
    margin: 10px 0px;
}

.label_inputs {
    font-size: 20px;
    margin: 10px 0px;
    font-weight: 300;
    background: #e5f4ff;
    padding: 10px;
    display: inline-block;
}

.split_fields {
    margin: 30px 0px;
    padding: 20px 0px;
    border-top: 2px solid #dddddd;
}

.split_fields.last {
    margin-bottom: 0;
    padding-bottom: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #cecece;
    text-align: center;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #cecece;
    text-align: center;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #cecece;
    text-align: center;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #cecece;
    text-align: center;
  }


.image_upload_container {
    position: relative;
}

.image_upload_container .remove {
    top: 0;
    position: absolute;
    right: 0;
    background: #98c6e9;
    color: #ffffff;
    border: 1px solid white;
    padding: 10px;
}

.not_found_container {
    text-align: center;
    margin-top: 96px;
    padding: 20px;
    background-size: 5px 5px !important;
    min-height: 100vh;
    font-size: 90px;
    font-family: 'Righteous', cursive;
    color: #d5ebfe;
}


/*=============================
            HEADER FOOTER
===============================*/
header .link_logo {
    display: inline-block;
}


footer {
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    padding: 30px 0px;
    width: auto;
}

footer .img_cover{
   margin:0 auto;
}


/*=============================
            FEATURED
===============================*/

.featured_wrapper {
    margin: 0 auto;
    width: 1280px;
    margin-top: 90px;
    height: 700px;
    overflow: hidden;
}

.featured_stripes {
    position: relative;
}
.featured_text {
    position: relative;
    font-family: 'Righteous', cursive;
}


.featured_stripes .stripe {
    width: 230px;
    height: 1200px;
    position: absolute;
}

.featured_rider {
    width: 500px;
    height: 500px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-color: transparent;
    position: absolute;
}
.featured_first {
    position: absolute;
    background: #0e1731;
    color: #ffffff;
    font-size: 92px;
    text-transform: uppercase;
    padding: 0px 20px;
}

.featured_second {
    position: absolute;
    background: #0e1731;
    color: #ffffff;
    font-size: 92px;
    text-transform: uppercase;
    padding: 0px 20px;
}


@media screen and (max-width: 768px) {
    .featured_first {
        transform: translate(60px,330px) !important;
        font-size: 52px;
    }
    .featured_second {
        transform: translate(60px,426px) !important;
        font-size: 52px;
    }
    .featured_rider {
        width: 300px;
        height: 300px;
        transform: translate(225px,240px) !important;
    }
    .featured_stripes .stripe {
        width: 140px;
    }
    .featured_stripes .stripe:nth-of-type(1) {
        transform: rotate(25deg) translate(-120px,-260px)!important;
    }
    .featured_stripes .stripe:nth-of-type(2) {
        transform: rotate(25deg) translate(30px,-260px) !important;
    }
    .featured_stripes .stripe:nth-of-type(3) {
        transform: rotate(25deg) translate(180px,-260px) !important;
    }
    .featured_wrapper {
        margin: 0 auto;
        width: 1280px;
        margin-top: 90px;
        height: 480px;
        overflow: hidden;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {

}

/*=============================
            MATCHES HOME
===============================*/

.home_matches_wrapper {
    background: #98c5e9;
    margin-top:9px;
    padding: 50px 0px;
}

.home_matches_wrapper .home_matches {
    flex-wrap: wrap;
    display: flex;
    margin-top: 60px;
}

.home_matches_wrapper .home_matches .item {
    width: 50%;
    margin: 35px 0px;
}

.home_matches_wrapper .home_matches .item .wrapper {
    padding-right:30px;
}

@media screen and (max-width: 768px) {
    .home_matches_wrapper .home_matches .item {
        width: 60%;
        margin: auto auto auto 15px;
        font-size: 0.75rem;
        justify-content: center;
    }
    .home_matches_wrapper .home_matches .item .wrapper {
        width: 75%;
        margin: auto;
    }
    .match_block .match_wrapper .match_top .left .icon,
    .match_block .match_wrapper .match_bottom .left .icon {
        display: none;
    }
    .match_block .match_wrapper .match_top .left .team_name,
    .match_block .match_wrapper .match_bottom .right {
        font-size: 0.75rem;
    }
    .home_matches_wrapper .home_matches {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .home_matches_wrapper .home_matches .item {
        width: 70%;
        margin: 35px auto;
    }
}

/*=============================
            MATCHES BLOCK
===============================*/

.match_block .match_date{
    color:#ffffff;
    font-size:18px;
}

.match_block .match_wrapper .match_top,
.match_block .match_wrapper .match_bottom {
    display: flex;
}
.match_block .match_wrapper .match_bottom {
    margin-top: 5px;
}

.match_block .match_wrapper .match_top .left,
.match_block .match_wrapper .match_bottom .left {
    background: #ffffff; 
    font-family: 'Righteous', cursive;
    flex-grow: 1;
    margin-right: 5px;
    padding: 10px;
}

.match_block .match_wrapper .match_top .left div,
.match_block .match_wrapper .match_bottom .left div {
    float:left
}

.match_block .match_wrapper .match_top .left .icon,
.match_block .match_wrapper .match_bottom .left .icon {
    width: 50px;
    height: 50px;
    background-size: cover !important;
}
.match_block .match_wrapper .match_top .left .team_name,
.match_block .match_wrapper .match_bottom .left .team_name {
    font-size: 30px;
    padding: 6px 10px;
}


.match_block .match_wrapper .match_top .right,
.match_block .match_wrapper .match_bottom .right { 
    background: #0e1731;
    width: 70px;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    padding-top: 6px;
} 

.match_box_big {
    text-align: center;
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
}
tr:nth-child(odd) {
    background-color: #dff1ff;
}

tr:nth-child(even) {
    background-color: #98c6e9;
}

.match_box_big .block_wraper {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.match_box_big .block {
    display: flex;
    align-items: center;
}

td {
    display: table-cell;
}

.match_box_big .icon{
    width: 5%;
    background-size: cover !important;
    padding: 2px 5px;
}

.match_box_big .block .team,
.match_box_big .block .result {
    padding: 2px 5px;
    height: 100%;
}
.match_box_big .block .team {
    width: 20%;
}

.match_box_big .block .result {
    font-weight: 500;
    width: 10%;
}

.nfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 102px;
    padding-left: 10px;
    font-weight: 300;
    color: #5e5e5e;
    text-align: left;
}

.match_filters {
     display: flex;
     border-bottom: 1px solid #01285e;
     background: #dff1ff;
}
.match_filters .tag {
    font-weight: 300;
    margin-bottom: 5px;
    color: #656565;
}
.match_filters .option {
    background: #ffffff;
    padding: 5px 9px;
    border-radius: 3px;
    font-size: 13px;
    margin-right: 5px;
    cursor: pointer;
}

.match_filters .option.active {
    background: #62a2d3;
    color: #fff;
}

.match_filters_box {
    padding: 10px 20px;
    border-right: 1px solid #01285e;
    background: #dff1ff;
}

.match_filters .cont {
    display: flex;
}

/*=============================
         THE MATCHES
===============================*/

.the_matches_container {
    margin-top: 96px;
}

.the_matches_wrapper {
    display: flex;
}

.the_matches_wrapper .left {
    flex-grow: 1;
}

.the_matches_wrapper .right {
   width:400px;
}

.league_table_wrapper {
    border-left: 1px solid #98c6e9;
}
.league_table_wrapper .title {
    padding: 22px;
    font-size: 22px;
    color: #ffffff;
    background: #98c6e9;
    border-bottom: 1px solid #01285e;
}

.the_matches_wrapper .progress {
    text-align: center;
    padding: 60px 0px;
}

/*=============================
         ADMIN
===============================*/

.admin_container {
    margin-top: 96px;
    display:flex;
}

.admin_container .admin_left_nav {
    min-height: 100vh;
    background: #282828;
    border-right: 2px solid #01285e;
}

.admin_container  .admin_right {
    flex-grow: 1;
}
.admin_container  .admin_progress {
    text-align: center;
    margin: 20px 0px;
}

.admin_container .matches_tag_red {
    font-weight: 700;
    color: #F44336;
}

.admin_container .matches_tag_green {
    font-weight: 700;
    color: #4CAF50;
}

.admin_container h2 {
    margin: 0px 0px 50px 0px;
    border-bottom: 1px solid #dbdbdb;
    color: #414141;
    font-size: 40px;
}

.editmatch_dialog_wrapper,
.editplayers_dialog_wrapper {
    padding: 20px;
    width: 480px;
}

 
.select_team_layout .wrapper{
    display: flex;
}

.select_team_layout .wrapper .left {
    flex-grow: 1;
}

.select_team_layout input[name=result_local_input],
.select_team_layout input[name=result_away_input] {
    width: 60px;
    text-align: center;
    background: #98c6e9;
    color: #ffffff;
}

.admin_submit button {
    font-size: 20px;
    margin: 40px 0px;
    background: #009688;
}

/*=============================
            SIGN IN
===============================*/

.signin_wrapper {
    margin-top: 96px;
    padding: 20px;
    min-height: 70VH;
    text-align: center;
}

.signin_wrapper form {
    width: 350px;
    margin: 0 auto;
}

.signin_wrapper form button {
    width: 100%;
    padding: 10px;
}

.signin_wrapper h2 {
    font-family: 'Righteous', cursive;
    color: #98c6e9;
    font-size: 50px;
}

.user_dashboard {
    font-size: 60px;
    font-family: 'Righteous', cursive;
    color: #d5ebfe;
    text-align: center;
    margin-top: 200px;
}